@import url("/navigation/navigation.css");

.content{
    z-index: -1;
    position: absolute;
    margin-top: 500px;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
header{
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 20px;
  font-weight: 500;
}
img {
    max-width:100%;
    height:auto;
}   